body
{
    margin: 0px;
    padding: 0px;
}
#header
{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    color: #BBCEEE;
    font-family: cursive;
    font-weight: bold;
    background-color: #222132;
    border-bottom: 3px solid red;
}
#currentPlayer
{
    display: flex;
    
    justify-content: center;
    align-items: center;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    background-color: #C5C3C6;
    
}
#boarddiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #C5C3C6;
    
    
}
#gameGrid
{
    --dimensionGrid: 600px;
    
    height: var(--dimensionGrid);
    width: var(--dimensionGrid);
    
    background-color: black;
    
    padding: 0px;
    display: grid;
    gap: 7px;
    
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    
    border: black 7px solid;
}
.cell
{
    font-family: cursive;
    background-color: #848484;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    border-radius: 7px;
    
}
/* begin */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    justify-content: center;
    align-items: center;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    font-size: larger;
    font-weight: bold;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #DAF0D5;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  